<md-content layout-padding>
  <form ng-submit="post(topic)">
    <div>
      <md-input-container>
        <label>Topic Name</label>
        <input ng-model="topic.title" required>
      </md-input-container>
    </div>
    <md-input-container class="md-block">
      <label>Description:</label>
      <textarea ng-model="topic.description" md-maxlength="300" rows="5" md-select-on-focus required></textarea>
    </md-input-container>
    <md-button ng-click="cancel()">Cancel</md-button>
    <md-button type="submit">Click Me!</md-button>
  </form>
</md-content>
